*{
	font-family: 'Courier New', monospace;
}
body{
	background-image: url('https://external-preview.redd.it/IKtuYb9a_7nTKl3KT7zso1ijil1PbpBbVTsAuYLnzKg.jpg?auto=webp&s=6274dc9f7c5626b0931a0ce70b97c30d76e2db2b');
	background-size: cover;
}
.container-fluid{
	padding: 10% 0.5% 20% 0.5%;
	background-color: ;
}
h2{
	font-family: "Monserrat", sans-serif;
	font-weight: bold;
}
html{
	scroll-behavior: smooth;
}
.carousel-inner{
	text-align: center;
	border-radius: 10px;
}
.nav-link:hover{
	background-color: #606dd1;
	border-radius: 5px;
}
/* PROFILE */
#profile{
	color: #95edf0;
	text-align: center;
	/*background-image: url('https://external-preview.redd.it/IKtuYb9a_7nTKl3KT7zso1ijil1PbpBbVTsAuYLnzKg.jpg?auto=webp&s=6274dc9f7c5626b0931a0ce70b97c30d76e2db2b');
	background-repeat: no-repeat;
	background-size: 100% 75% ;*/
}
#picture{
	border-radius: 100%;
	height: 200px;
	width: 200px;
	/*border: 5px;
	border-style: solid;
	margin-bottom: 10px;*/
	/*box-shadow: 0px 0px 50px 3px gray;*/
}

/* PROFILE */

/* CERTIFICATE */
#certificate{
	color: #16171a;
	border-radius: 5px;
	background-image: url('https://img.freepik.com/free-photo/blurred-conference-room-background_63313-687.jpg?size=626&ext=jpg');
	background-size: cover;
}
.cert{
	border: 5px dotted; black;
	background-color: #c7c9b9;
}
/* CERTIFICATE */

/* EDUCATION */
#education{
	background-image: url('https://www.thebalancecareers.com/thmb/hKctLkuZxqFGd3XpQCUjQBjSPjQ=/3436x2577/smart/filters:no_upscale()/school-books-on-desk--education-concept-871454068-5b548900c9e77c005b04fc8c.jpg');
	background-size: cover;
}
.educ{
	border: 5px dotted black;
	background-color: #c0d8ed;
}

/* EDUCATION */

/* EXPERIENCE */
#exp{
	background-image: url('https://assets.foolproof.co.uk/public/content/24d4c59ca3/51b3f7f1-a012-412c-90d9-7ae3924685d9.jpg');
	background-size: cover;
}
.card{
	max-width: 100%;
	height: auto;
	margin-left: 10%;
}
.card p{
	text-align: center;
}
#exp h1{
	color: whitesmoke;
}
#exp h5{
	text-align: center;
}

.card-head{
	border-bottom: 5px double;
	text-align: center;
}
#exp-img1{
	width: 100%;
	height: 100%;
}
/* EXPERIENCE */


/* SKILLS */
#skills{
	background-image: url('https://img.freepik.com/free-photo/brain-light-bulb-human-brain-glowing-inside-light-bulb-dark-blue-background_34998-112.jpg?size=626&ext=jpg');
	background-size: cover;
}
#skills h1, h6{
	color: white;
}
.instagram-media{
	width: 200px !important;
	margin-left: 10% !important;
	margin-right: 10% !important;
}

/* SKILLS */


/* FOOTER */
.footer{
	padding: 10px;
	color: #62b582;
	padding-bottom: 50px;
}

/* FOOTER */



/* SCREEN MEDIA */
@media screen and (max-width: 400px) {
	body{
		background-image: url('https://external-preview.redd.it/IKtuYb9a_7nTKl3KT7zso1ijil1PbpBbVTsAuYLnzKg.jpg?auto=webp&s=6274dc9f7c5626b0931a0ce70b97c30d76e2db2b');
		background-size: cover;
	}
	#profile{
		text-align: justify;
		background-color: grey;
		margin-top: 10%;
	}
	#contact{
		font-size: 15px;
	}
	#contact h3{
		font-size: 20px;
	}
	#exp{
		font-size: 15px;
	}
	#list-tab{
		width: 200px;
	}
	.tab-content{
		top: 100px;
		left: -500px;
	}
}

/* FONTS */
.date{
	font-weight: bold;
}
#about{
	font-size: 25px;
}



/* ICONS */
#educ{
	max-width: 50px;
	max-height: 50px;
	margin-top: -8%;
	margin-left: 20%;
}
#cert{
	max-width: 50px;
	max-height: 50px;
	margin-top: -6%;
	margin-left: 22%;
}


.icon{
	text-align: right;
}

